body{
    background-image: url(./images/tree-alone-dark-evening-4k-ay-1280x1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
    width: 100%;
   
}
#city{
   margin-top: 150px;
   margin-left: 100px;
   
    align-items: center;
    justify-content: center;
}
#place_name{
    border-radius: 20px;
}

#btn:hover{
    background-color:rgba(43, 43, 230, 0.041);
    color: whitesmoke;
}
#btn{
    border-radius: 15px;
}
#row1{
    margin-top: 10px;
    margin-left: 80px;
}